.cardDisplay {
    font-size: 0.75em;
    display: 'flex';
    justify-content: 'center';
    margin:20px;
    padding: 20px;
}

.card-title{
    color:#f2f2f2;
}

.buttonContainer {
    font-size: 0.75em;
    justify-content: 'center';
}

table.rounded {
    border-radius: 10px;
    overflow: hidden;
}

table.rounded th,
table.rounded td {
    padding:10px;
}

table.rounded th {
    background-color: #f2f2f2;
}

.card-red {
    border: 2px solid #b51a3c;
    background: linear-gradient(to bottom, #b51a3c 40px, #ffffff 1%); /* Red gradient */
}

.card-green {
    border: 2px solid #3cb371;
    background: linear-gradient(to bottom, #3cb371 40px, #ffffff 1%); /* Green gradient */
}

.card-blue {
    border: 2px solid #4169e1;
    background: linear-gradient(to bottom, #4169e1 40px, #ffffff 1%); /* Blue gradient */
}   

.card-orange {
    border: 2px solid #ff8c00;
    background: linear-gradient(to bottom, #ff8c00 40px, #ffffff 1%); /* Orange gradient */
}
.card-purple {
    border: 2px solid #960881;
    background: linear-gradient(to bottom, #960881 40px, #ffffff 1%); /* Orange gradient */
}
/*
.scrollable-container {
    max-height: 400px;
    overflow-y: auto;
}
*/