.card-container {
    font-size: 0.75em;
    position: relative;
    transition: transform 0.2s;
    border: 2px solid rgb(215, 31, 14);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(101, 8, 8);
    padding: 20px;
    margin: 20px;
    max-width: 100%;
    display: block;
}

.card-container:hover {
    cursor:pointer;
    transform: scale(1.05);
}

.card-container:hover .overlay {
    opacity:0.7;

}

.overlay {
    position: relative;
    background: black;
    border: 2px solid black;
    border-radius: 10px;
    margin:auto;
    width:50%;
    transition: 0.5s ease;
    opacity: 0;
    bottom:0;
    font-size:1em;
    padding:10px;
    color: white;
    text-align:center;
    

}

.rounded {
    border-radius: 10px;
    max-width: 80%;
    max-height: 100%;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}